/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    padding: 60px 40px 0;
    color: #fff;
    background: #0827cd;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 16px;
    font-weight: 100;
}

#top-container, #bottom-container {
    display: flex;
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

input[type="button"] {
    padding: 1em 1.5em;
}

.oval-btn {
    border-radius: 2em;
}

/* TOP CONTAINER */

#top-container {
    height: 20vh;
}

h1 {
    font-size: 46px;
    margin-bottom: .5em;
}

main p {
    line-height: 2em;
}

#top-container li {
    display: inline;
}
#top-container li:not(:last-child) {
    margin-right: 75px;
}

#top-container input[type="button"] {
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    position: relative;
    top: -17px;
}

/* BOTTOM CONTAINER */

#bottom-container {
    height: 40vh;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

#bottom-container aside {
    width: 10%;
}

#left-aside {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-content: flex-start;
}

#right-aside {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
}

aside li {
    margin-top: 10px;
}

#tag-line {
    width: 150px;
    transform: rotate(-90deg) translate(68px, -68px);
    transform
}

.round-btn {
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

#bottom-container .oval-btn {
    margin-top: 2em;
    padding: 1em 1.5;
    color: #0827cd;
    background: #fff;
    border: none;
}

footer p {
    margin-top: 3em;
}